<div
  id="popout-modal"
  class="hidden fixed inset-0 z-10 flex items-center justify-center backdrop-blur-sm <%= user.settings.theme === 'dark' ? 'bg-dark-primary text-dark-text' : ' text-text bg-primary' %> bg-opacity-50 p-5 md:p-0 z-50 font-lora"
  onclick="closePopoutModal()"
>
  <div
   class="<%= user.settings.theme === 'dark' ? 'bg-dark-background text-dark-text' : 'bg-white text-gray-900' %> w-full sm:max-w-md lg:max-w-lg p-6 rounded-xl shadow-2xl transition-all duration-300"
    onclick="event.stopPropagation()"
  >
    <div >
     <div class="flex items-center justify-between mb-4">
      <h2
        class="text-xl font-semibold font-sans"
      >
       Write a Blog
      </h2>
      <button
            onclick="closePopoutModal()"
            class="text-gray-400 hover:text-red-500 transition duration-200 text-xl"
            aria-label="Close"
          >
            &times;
          </button>
      </div>
      
      <form
        id="blogCreateForm"
        action="/api/blog/new"
        method="POST"
        enctype="multipart/form-data"
      >
        <%- include("../partials/popoutFormField.ejs") %>
        <div
          class="grid mt-2 grid-cols-2 gap-2 text-xs md:text-sm lg:text-base"
        >
          <button
            type="button"
            id="close-popout"
            class="px-4 py-2 rounded-md border border-red-300 text-sm font-medium <%= user.settings.theme === 'dark' ? 'text-red-300 hover:bg-dark-primary' : 'text-red-700 hover:bg-red-100' %> transition duration-200 font-roboto"
          >
            Close
          </button>
          <button
            type="submit"
            id="createBlogButton"
            class="btn-with-loader relative px-4 py-2 rounded-md bg-blue-600 hover:bg-blue-700 text-white text-sm font-medium shadow-md transition duration-200 font-roboto">

             <div
          class="loader-inner ball-beat hidden absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
        >
          <div
            class="w-2 h-2 sm:w-2.5 sm:h-2.5 md:w-3 md:h-3 bg-white rounded-full"
          ></div>
          <div
            class="w-2 h-2 sm:w-2.5 sm:h-2.5 md:w-3 md:h-3 bg-white rounded-full mx-1"
          ></div>
          <div
            class="w-2 h-2 sm:w-2.5 sm:h-2.5 md:w-3 md:h-3 bg-white rounded-full"
          ></div>
        </div>
        <span class="btn-text inline-block">New</span>
          
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  
  document
    .getElementById("close-popout")
    .addEventListener("click", function () {
      document.getElementById("popout-modal").classList.add("hidden");
    });

  document
    .getElementById("popout-modal")
    .addEventListener("click", function (event) {
      if (event.target.id === "popout-modal") {
        document.getElementById("popout-modal").classList.add("hidden");
      }
    });
    const createForm  = document.getElementById("blogCreateForm");
     const submitBtn = document.getElementById("createBlogButton");

    function closePopoutModal() {
      hideBtnLoader(submitBtn);
      document.getElementById("popout-modal").classList.add("hidden");
    }

    createForm.addEventListener("submit", function (e) {
   

    if (submitBtn) {
      showBtnLoader(submitBtn);
    }
  });

    

</script>
