<div
  class="flex flex-col-reverse md:grid md:grid-cols-2 gap-6 py-16 px-4 sm:p-8 md:p-8 md:py-16"
>
  <div class="flex justify-center items-center flex-col">
    <h2
      class="text-base sm:text-lg md:text-2xl font-bold text-primary -mb-10 text-center"
    >
      Forgot Your Password?
    </h2>
    <img
      src="images/verifyImg.svg"
      alt="Sign-in image"
      class="h-[80%]"
    />
    <p
      class="text-xs sm:text-base md:text-lg text-secondary md:font-semibold mb-6 text-center"
    >
      Enter the 6-digit OTP sent to your email to securely reset your password.
    </p>
  </div>
  <div
    class="max-w-7xl mx-auto md:mx-5 my-auto p-8 rounded-lg shadow-lg bg-white bg-opacity-50 backdrop-blur-sm border border-gray-200"
  >
    <h1
      class="text-lg sm:text-xl md:text-2xl font-bold text-center md:mb-2 flex justify-center items-center gap-2 text-primary"
    >
      <img src="images/logoImg/icon.png" class="h-10" alt="logo Img" />Password
      Reset
    </h1>
    <h2
      class="text-sm sm:text-base md:text-lg text-secondary md:font-semibold mb-6 text-center"
    >
      Please enter the 6-digit OTP.
    </h2>
    <form id="otpForm" class="space-y-6">
      <div class="h-16">
        <label for="otp" class="block text-sm font-medium text-secondary">
          OTP
        </label>
        <input
          type="text"
          name="otp"
          id="otp"
          required
          pattern="\d{6}"
          maxlength="6"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-fourth focus:border-fourth sm:text-sm text-primary"
        />
        <p class="text-xs text-red-600 mt-1 hidden" id="otpError"></p>
      </div>
      <div>
        <button
          type="submit"
          class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-gradient-to-r hover:from-blue-500 hover:to-purple-600 transition duration-300 relative"
        >
          Submit OTP
          <span
          class="absolute inset-0 bg-blue-700 opacity-0 rounded-lg transition-opacity duration-300 hover:opacity-20"
        ></span>
        </button>
      </div>
    </form>
    <div class="text-xs md:text-sm text-center mt-4">
      <p>
        <span id="timer" class="text-gray-500">
          Resend OTP available in: 30s
        </span>
        <br />
        <a href="#" id="resendLink" class="text-blue-500">Resend OTP</a>
      </p>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const urlParams = new URLSearchParams(window.location.search);
    const username = urlParams.get("username");

    if (username) {
      console.log(`Username: ${username}`);
    } else {
      console.error("Username parameter is missing");
    }

    const form = document.getElementById("otpForm");
    form.addEventListener("submit", async (e) => {
      e.preventDefault();
      const otp = document.getElementById("otp").value;

      if (username && otp) {
        try {
          const actionUrl = `/auth/verifyOTP?username=${username}&code=${otp}`;
          const res = await fetch(actionUrl, {
            method: "GET",
            headers: {
              "Content-Type": "application/json",
            },
          });

          if (res.status !== 201) {
            throw new Error("Verification failed");
          }
          window.location.href = `/reset?username=${username}`;
        } catch (error) {
          console.error("There was a problem with the fetch operation:", error);
        }
      } else {
        console.error("Username or OTP is missing");
      }
    });

    const resendLink = document.getElementById("resendLink");
    const timerDisplay = document.getElementById("timer");
    let canResend = true;
    const resendTimeout = 30000; 

    const updateResendLink = (enabled) => {
      resendLink.textContent = enabled ? "Resend OTP" : "Wait 30 seconds";
      resendLink.style.pointerEvents = enabled ? "auto" : "none";
      resendLink.style.color = enabled ? "#1d4ed8" : "#9ca3af"; 
    };

    const startResendCountdown = () => {
      let remainingTime = resendTimeout / 1000; // Convert to seconds
      updateResendLink(false);

      const countdown = setInterval(() => {
        if (remainingTime <= 0) {
          clearInterval(countdown);
          canResend = true;
          updateResendLink(true);
          timerDisplay.textContent = "Resend OTP available now";
        } else {
          remainingTime -= 1;
          timerDisplay.textContent = `Resend OTP available in: ${remainingTime}s`;
        }
      }, 1000); // Update every second
    };

    resendLink.addEventListener("click", (e) => {
      e.preventDefault();
      if (canResend) {
        
        console.log("Resending OTP...");
       
        startResendCountdown();
      }
    });

    
    startResendCountdown();
  });
</script>
