@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    overflow: -moz-scrollbars-none; /* For Firefox */
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  
  *::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }

.scale-30 {
  width: 15vw; /* 30% of the viewport width */
  height: auto; /* Maintain aspect ratio */
  transform: scale(1); /* No further scaling needed */
  transform-origin: center;
  margin: 0 auto; 
}

.scale-content {
  transform: scale(0.15); /* Scale down everything inside by 30% */
  transform-origin: top left; /* Scale relative to the top-left corner */
  width: 100vw; /* Scale based on screen width */
  height: auto;
  overflow-x: clip;
  overflow-y: scroll;
  
}

.full-screen {
  transform: scale(1); /* Full scale */
  width: 100vw; /* Full screen width */
  height: 100vh; /* Full screen height */
  top: 0;
  left: 0;
  z-index: 1000000000000000; 
  position: fixed;
  scroll-behavior: smooth;
overflow: scroll;
}

#suggestionOverlay {
  position: absolute;
  z-index: 10;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: none;
}
/* for featured blog posts */
.story-dot {
  height: 4px;
  background-color: rgba(255, 255, 255, 0.4);
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  flex: 1; /* ensures equal spacing */
}

.story-fill {
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: white;
  animation: fillStory 5s linear forwards;
  top: 0;
  left: 0;
  border-radius: 4px;
}

@keyframes fillStory {
  from { width: 0%; }
  to { width: 100%; }
}

#editor:empty::before {
    content: attr(data-placeholder);
    color: #9ca3af; /* Tailwind's text-gray-400 */
    pointer-events: none;
  }