<div class="grid grid-cols-1 sm:grid-cols-7 md:grid-cols-8 lg:grid-cols-5">
  <div class="sm:col-span-2 md:col-span-2 lg:col-span-1">
    <%- include("../../partials/profileDetails.ejs")%>
  </div>
  <div class="sm:col-span-5 md:col-span-6 lg:col-span-4">
    <%-
    include("../../partials/profileFeaturedBlog.ejs")%> <%-
    include("../../partials/profileBlogs.ejs")%> 
  </div>
</div>